<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->


<p>
  <a class = "primary obtrusive">Primary</a>
</p>

<p>
  <a class = "secondary obtrusive">Secondary</a>
</p>

<p>
  <a class = "success obtrusive">Success</a>
</p>

<p>
  <a class = "danger obtrusive">Danger</a>
</p>

<p>
  <a class = "warning obtrusive">Warning</a>
</p>

<p>
  <a class = "info obtrusive">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class = "primary-U  unobtrusive">Primary (unobtrusive)</a>
</p>

<p>
  <a class = "secondary-U unobtrusive">Secondary (unobtrusive)</a>
</p>

<p>
  <a class = "success-U unobtrusive">Success (unobtrusive)</a>
</p>

<p>
  <a class = "danger-U unobtrusive">Danger (unobtrusive)</a>
</p>

<p>
  <a class = "warning-U unobtrusive">Warning (unobtrusive)</a>
</p>

<p>
  <a class = "info-U unobtrusive">Info (unobtrusive)</a>
</p>
